Form{
    background-color: rgb(218, 215, 220);
    border-radius: 16px;
    height: 1000px;
   
}

.text{
    padding-right: 1000px;

}
h4{
    padding-top: 20px;
}

button{
    margin-bottom: 10px;
    width: 500px;
    background-color: rgb(71, 71, 174);
    color: white;
    font-weight: 600;
    height: 40px;
}



.input{
    text-align: left;
    
}
.id{
    width: 90%;
    height: 40px;
    margin-left: 50px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
}

label{
    margin-left: 50px;
}

